<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andres Sweeney-Rios</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://vuejs.org/js/vue.min.js"></script>
    <script src="html2canvas.min.js" async></script>
</head>
<body>
    <div id="nav">
        <h2 id="home">Home</h2>
        <h2 id="about">About</h2>
        <h2 id="contact">Contact</h2>
    </div>

    <div id="page">
        <div id="log" v-if="page == 'home'">
            <div class="entry" v-for="(i,key) in entries" v-bind:style="`background-color:${key % 2 === 0 ? '#ff5380':'#50cab8'};`">
                <h3 class="title">{{i.title}}</h3>
                <h3 class="date">{{i.date}}</h3>
                <h3 class="desc">{{i.desc}}</h3>
            </div>
        </div>

        <div id="about-page" v-if="page == 'about'">
            <img ALIGN="left" id="avatar" src="avatar.png"> 
            <p id="bio" v-html="bio"></p>

            <!-- <h2>Skillset</h2>
            <h3 v-for="i in skillset">{{i}}</h3> -->
        </div>

        <div id="contact-page" v-if="page == 'contact'">
            <span>
                <h3>Twitter: <a target="_blank" href="https://twitter.com/andr3wriv3rs">@Andr3wRiv3rs</a></h3>
                <h3>E-Mail: <a target="_blank" href="mailto:andrewarivers@gmail.com">andrewarivers@gmail.com</a></h3>
                <h3>Discord: <a target="_blank" href="https://discordapp.com/channels/@me">Poison Apple#9351</a></h3>
            </span>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>