<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Andres Sweeney-Rios</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://vuejs.org/js/vue.min.js"></script>
</head>
<body>
    <div id="nav">
        <h2 id="home">Home</h2>
        <h2 id="about">About</h2>
        <h2 id="contact">Contact</h2>
    </div>
    
    <div id="page">
        <div id="log" v-if="page == 'home'">
            <div class="entry" v-for="(i,key) in entries" v-bind:style="`background-color:${key % 2 === 0 ? '#ff5380':'#50cab8'};`">
                <h3 class="title">{{i.title}}</h3>
                <h3 class="date">{{i.date}}</h3>
                <h3 class="desc">{{i.desc}}</h3>
            </div>
        </div>

        <div id="about-page" v-if="page == 'about'">
            <img ALIGN="left" id="avatar" src="avatar.png"> 
            <p id="bio">
                Hello, I'm Andres, a 16 year old software developer and illustrator from California. <span class="mobile-only"><br><br></span> I've made desktop software, mobile applications, video games, and of course, web applications.
                <br><br>I work with a large variety of languages and tools, and in all sorts of environments. More often than not, my projects are developed using Vue.js and Express. I've worked with game engines Construct 2, Game Maker: Studio, Godot, and Unity. My illustrators of choice are GIMP and Inkscape. A lot of my work can be found on <a target="_blank" href="https://github.com/">GitHub</a> and <a target="_blank" href="https://gamejolt.com/@AndrewRivers">GameJolt</a>.
                <br><br>I am a hobbyist creator in many fields, including music. I am a pianist and chiptune producer. You can find some of my music on my <a target="_blank" href="https://soundcloud.com/andr3wriv3rs">SoundCloud</a> account.
                <br><br>
            </p>
        </div>

        <div id="contact-page" v-if="page == 'contact'">
            <span>
                <h3>Twitter: @Andr3wRiv3rs</h3>
                <h3>E-Mail: andrewarivers@gmail.com</h3>
                <h3>Discord: Poison Apple#9351</h3>
            </span>
        </div>
    </div>

    <script src="script.js"></script>
</body>
</html>