@import 'https://fonts.googleapis.com/css?family=Montserrat'

$fontLight = rgb(240,240,240)
$black = rgb(20,20,20)
$pink = #ff5380
$blue = #50cab8

* 
    font-family Montserrat, sans-serif
    margin 0
    padding 0
    color $fontLight
    font-weight 300

body
    background-color $black
    box-sizing border-box
    width 100%
    min-height 100vh
    background-position top left
    background-repeat no-repeat
    background-size auto 100vh
    background-attachment fixed

#nav
    width 100%
    display flex
    justify-content flex-end
    align-items baseline
    padding 15px
    box-sizing border-box

    *
        padding-left 5px
        padding-right 5px
        cursor default
        transition border 0.1s
        border-bottom 2px solid transparent
        margin-left 10px

        @media (max-width:600px)
            font-size 1.2em

        &:hover
            border-bottom 2px solid $fontLight

    #home 
        position absolute
        left 15px
        margin-left 0

.entry
    width calc(33.33% - 15px)
    box-sizing border-box
    padding 20px
    margin 15px
    display block
    flex-direction column
    align-items left
    justify-content center
    margin-top 0
    margin-right 0
    height 300px
    overflow-y auto
    overflow-x hidden

    @media (max-width:1000px)
        width calc(50% - 15px)

    @media (max-width:600px)
        width calc(100% - 15px)

    .title,.date
        box-sizing border-box
        padding-bottom 5px
        font-size 1.6em
    .date
        font-size 1.3em
        opacity 0.8
        margin-bottom 20px
    .desc
        text-align left

#log
    display flex
    flex-wrap wrap
    flex-direction row
    box-sizing border-box
    padding-right 15px

#about-page
    padding 15px
    img 
        width 100%
        border-radius 15px
        max-width 250px
        text-align center
        margin-right 20px
        margin-bottom 20px

        @media (max-width:600px)
            max-width 40%

    p
        font-size 20px
        // text-align center
        .intro
            @media (min-width:600px)
                font-size 30px;

#contact-page
    display flex
    flex-direction column
    justify-content center
    align-items center
    position absolute
    height 100vh
    pointer-events none
    left 0
    top 0
    width 100vw
    flex-wrap wrap
    word-break break-word

    span 
        text-align center
        pointer-events auto

    *
        margin-top 10px

a
    color $pink
    text-decoration none
    &:hover
        color $fontLight
        text-decoration underline

.mobile-only
    @media (min-width: 600px)
        display none

#html-canvas
    position fixed
    top 0
    left 0
    z-index -14
    opacity 0.5
    filter url(#displacementFilter) blur(1px)
    background-color $black
    transition filter 0.5s